<div id="list">
<%= form_for @list do |f| %>

<fieldset>
  <%= f.label :to %>
  <%= f.select(:to, options_for_select([["Buy","buy"],["Sell","sell"]])) %>
</fieldset>
<fieldset>
  <%= f.label :title %>
  <%= f.text_field :title, class:'tit' %>
</fieldset>
<fieldset>
  <%= f.label :description %>
  <%= f.text_field :description, class:'des'%>
</fieldset>
<fieldset>
  <%= f.label :image %>
  <%= f.text_field :image %>
</fieldset>
<fieldset>
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.pluck(:name, :id) %>
</fieldset>

  <%= f.submit class:'but' %>
<% end %>
</div>
